@charset "UTF-8";
html {
  font-size: 20px;
}

body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  min-height: 100vh;
  position: relative; /*←相対位置*/
  padding-top: 50px;
  padding-bottom: 50px; /*←footerの高さ*/
  box-sizing: border-box; /*←全て含めてmin-height:100vhに*/
}

a {
  color: #000000;
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  background-color: #c5a3cb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
}
.header .gnav__menu {
  margin: 10px 50px;
}
.header .gnav__menu li {
  font-size: 0.9rem;
  font-weight: normal;
  letter-spacing: 1.8px;
}
.header .gnav__menu li a {
  color: #ffffff;
}

.footer {
  background-color: #c5a3cb;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /*←絶対位置*/
  bottom: 0; /*下に固定*/
  width: 100%;
  height: 50px;
}
.footer .copyright {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0;
}

.ly-cont {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.home__title {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 3.2px;
  padding-bottom: 20px;
}
.home__subtitle {
  font-size: 0.9rem;
  font-weight: normal;
  letter-spacing: 1.8px;
  padding-bottom: 60px;
}
.home__btn {
  background-color: gold;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: inline-block;
  font-size: 0.8rem;
  font-weight: normal;
  letter-spacing: 1.6px;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  width: 100px;
  max-width: 100%;
  padding: 10px;
}
.home__btn:hover {
  background-color: #ffffff;
  border-color: currentColor;
  color: gold;
}

.sec-title {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2.8px;
  text-align: center;
  margin: 20px 0 40px 0;
}

.products {
  line-height: 1.5;
}
.products__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.products__nav__inner {
  display: flex;
  align-items: center;
}
.products__nav__inner__sort .sort-btn {
  margin: 0 10px;
}
.products__nav__inner__search {
  height: 60px;
  line-height: 1;
  margin-left: 10px;
  position: relative;
}
.products__nav__inner__search input[type=text] {
  font-size: 0.7rem;
  border: transparent;
  background-color: #e7e7e7;
  border-radius: 5px;
  border: solid 3px transparent;
  padding: 15px;
  width: 90%;
}
.products__nav__inner__search input[type=text]:focus {
  outline: none;
  border: solid 3px rgba(35, 82, 124, 0.5764705882);
}
.products__nav__inner__search input[type=submit] {
  display: none;
}
.products__nav__inner__search label:hover {
  transform: rotate(-360deg);
  transition: all 0.4s;
}
.products__nav__inner__search label i:before {
  background-color: #fff;
  background-color: #e7e7e7;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.7rem;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 30px;
  margin: auto;
  transition: all 0.4s;
  transform: rotate(-360deg);
  transition: all 0.4s;
}
.products__column {
  border-collapse: collapse;
  table-layout: auto;
  line-height: 1;
  width: 100%;
}
.products__column tr {
  border-bottom: solid 1px #d9d9d9;
}
.products__column tr:first-child {
  border-bottom: solid 3px #d9d9d9;
}
.products__column th,
.products__column td {
  font-size: 0.7rem;
  text-align: center;
  padding: 1rem;
}

.create,
.update {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.create .form-ly,
.update .form-ly {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create .form-ly__item,
.update .form-ly__item {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.create .form-ly__item label,
.update .form-ly__item label {
  cursor: pointer;
  overflow: hidden;
  display: block;
  margin-top: 0.75rem;
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
.create .form-ly__item input,
.update .form-ly__item input {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  border-style: solid;
  vertical-align: middle;
  height: 30px;
  padding: 5px 10px;
  text-transform: none;
  text-overflow: "";
  outline: none;
}
.create .form-ly__item select,
.update .form-ly__item select {
  border-style: solid;
}
.create .form-ly__item .vendor-select,
.update .form-ly__item .vendor-select {
  cursor: pointer;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  min-width: 80px;
  height: 30px;
  padding: 5px 25px 5px 10px;
  text-transform: none;
  text-overflow: "";
  outline: none;
}
.btn {
  background-color: aquamarine;
  border-radius: 10%;
  font-size: 0.7rem;
  line-height: 1;
  display: inline-block;
  padding: 10px 20px;
}

.edit-btn,
.delete-btn {
  height: 0.7rem;
}